@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

html {
  background: #ece4de;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.5em;
  line-height: 0.9em;
  font-family: "Lora", serif;
  color: #ece4de;
  margin-left: auto;
  margin-right: 0;
}

p {
  font-size: 1em;
  line-height: 1.2em;
  font-family: "Lora", serif;
  color: #ece4de;
  padding-top: 0px;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(
      300px,
      1fr
    );
  grid-template-rows: repeat(2, 1fr);
  align-content: center;
  grid-gap: 0px;
}

.box {
  height: 40vh;
  padding: 50px;
}

.box-1 {
  background: #a10b00;
  /* grid-column: 2 / 4; */
  /* justify-self: stretch; */
}
.box-2 {
  background: #000070;
  font-size: 0.8em;
  line-height: 1.5em;
}
.box-3 {
  color: black;
  background: white;
}
/* 
.box-3 h1 {
  color: black;
}

.box-4 p {
  color: black;
  padding-top: 0px;
  margin: 0px;
} */

.box-5 {
  background: black;
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
}

.box-6 {
  background: grey;
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
}

.box-4 {
  background: #f3f000;
  font-size: 0.8em;
  line-height: 1.5em;
}
@media (max-width: 1500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .box {
    width: 40vh;
    height: 30vh;
    padding: 35px;
  }
  h1 {
    font-size: 2em;
  }
}

@media (max-width: 968px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .box {
    width: 35vh;
    height: 30vh;
    padding: 35px;
  }
  h1 {
    font-size: 2em;
  }
  .poster {
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .box {
    width: 30vh;
    height: 30vh;
    padding: 35px;
  }
}
