@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  background: #f93f32;
  color: #ece4de;
}

.wrapper {
  height: 500px;
  font-family: "Bungee", cursive;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  font-size: 16px;
}

.box {
  padding: 10px;
  width: 40vh;
  height: 40vh;
  font-size: 35px;
}

.box-1 {
  background: #6eb1d8;
}

.box-2 {
  background: #ece4de;
  color: black;
  font-size: 1em;
}

.box-3 {
  background: black;
}

.box-4 {
  background: #6eb1d8;
}

.box-5 {
  background: black;
}

@media (max-width: 768px) {
  .box-1 {
    font-size: 6em;
    display: flex;
    flex: nowrap;
    transform: rotate(0deg);
  }
}

@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
